extends layout

block content
  h1= title
  p #[em LocalLibrary]へようこそ。これは、Mozilla Developer Network のチュートリアルの例として開発された、基礎的な Express ウェブサイトです。

  h1 コンテンツ

  p このライブラリーには以下のようなコンテンツがあります:

  ul
    li #[strong 本:] !{book_count}
    li #[strong コピー:] !{book_instance_count}
    li #[strong 利用可能なコピー:] !{book_instance_available_count}
    li #[strong 著者:] !{author_count}
    li #[strong ジャンル:] !{genre_count}
